<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAzUAyJf1SwibEGUNrNgI4xXKio06XwQ0c</string>
	<key>GCM_SENDER_ID</key>
	<string>223987583866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hacktivatorshfapp</string>
	<key>PROJECT_ID</key>
	<string>hacktivatorsff</string>
	<key>STORAGE_BUCKET</key>
	<string>hacktivatorsff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223987583866:ios:82c7f53da1e9fe6120e4c3</string>
</dict>
</plist>